@import "./variables.scss";
@import "./rem-calc.scss";

.toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .elements {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem-calc(10);
    background-color: $gray-light;
  }

  mat-slide-toggle {
    padding: rem-calc(3);
  }
}
