@import "../../../assets/scss/rem-calc.scss";
@import "../../../assets/scss/variables.scss";

:host {
  header {
    width: 100%;

    max-width: rem-calc(600);
    margin: 5px auto;

    padding: rem-calc(5) 0;

    .pokedex-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: rem-calc(5) 0;

      img {
        width: 100%;
        max-width: rem-calc(400);
        filter: drop-shadow(3px 5px 2px $gray-dark);
      }
    }
  }
}
