<div class="container"  [ngStyle]="{'background-image': getUrl()}">

  <main class="{{ getTheme() }}">
    <mat-toolbar>
      <section class="back">
        <button *ngIf="showBackButton()" [routerLink]="['']" mat-raised-button color="primary" class="btn">
          <mat-icon>arrow_back</mat-icon>
          Voltar
        </button>
      </section>
      <section class="toggle">
        <div class="elements">
          <mat-icon class="color-gray-dark">brightness_5</mat-icon>
          <mat-slide-toggle
            [checked]="isDarkMode()"
            (change)="switchTheme()"
            color="primary"
            matTooltip="Claro/Escuro"
          >
          </mat-slide-toggle>
          <mat-icon class="color-gray-dark">bedtime</mat-icon>
        </div>
      </section>
    </mat-toolbar>

    <app-header></app-header>

    <router-outlet></router-outlet>
  </main>

</div>
