@import "../assets/scss/toggle.scss";
@import "../assets/scss/variables.scss";

:host {

  .container {
    position: relative;
  }

  mat-toolbar {
    background-color: $transparent;
    padding: 0;

    display: flex;
    justify-content: space-between;
  }
}
