<main>
  <ng-template [ngIf]="isLoaded">
    <!-- <section class="pokemon__names">
      <h1 class="slideInLeft color-white">{{ pokemon[0].name }}</h1>
      <h2 class="slideInRight">{{ pokemon[1].names[0].name }}</h2>
    </section>

    <section class="pokemon__info">
      <img
        [src]="pokemon[0].sprites.other.dream_world.front_default"
        [alt]="pokemon[0].name"
        class="slideInDown"
      />

      <article class="pokemon__info__statistics fadeIn bg-color-white">
        <section>
          <h3 class="color-primary-color">Estatísticas</h3>

          <ol>
            <li *ngFor="let value of pokemon[0].stats">
              {{ value.stat.name }}

              <strong>
                {{ value.base_stat }}
              </strong>
            </li>
          </ol>
        </section>

        <a [routerLink]="['']" class="btn btn__secondary"> Voltar </a>
      </article>
    </section> -->

    <mat-card class="pokemon__info">
      <img
        [src]="pokemon[0].sprites.other.dream_world.front_default"
        [alt]="pokemon[0].name"
        class="slideInDown"
      />

      <mat-card-content>
        <section class="pokemon__names">
          <h1 class="slideInLeft">{{ pokemon[0].name }}</h1>
          <h2 class="slideInRight">{{ pokemon[1].names[0].name }}</h2>
        </section>

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Sobre">Content 1</mat-tab>
          <mat-tab label="Estatísticas">Content 2</mat-tab>
          <mat-tab label="Golpes">Content 3</mat-tab>
          <mat-tab label="Evoluções">Content 3</mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <img
    src="assets/images/error.png"
    alt="Erro ao mostrar pokemon"
    width="100%"
    *ngIf="apiError"
  />
</main>
